body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    margin-right: 100px;
}

nav ul{
    float: right;
}

nav li {
    display: inline-block;
    margin-right: 30px;
    font-weight: 600;
    color: #3B3B3B;
}

.text-color {
    color: #363958;
}

h1 {
    font-size: 60px;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
}

p {
    color: #3B3B3B;
}

.name-highlight {
    color: #FF8367;
}

.text-highlight {
    color: #f46060;
}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(0deg, lightsalmon, tomato);
    padding: 20px 40px;
    border-radius: 5px;
    color: white;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 8%;
    padding-left: 2%;
}

.half-width img {
    width: 100%;
}

section {
    height: 500px;
    padding-bottom: 100px;
}

.portfolio {
    clear: both;
    width: 100%;
    text-align: center;
    background-color: #F8F9FC;
}

.portfolio h2 {
    font-size: 30px;
    font-weight: 700;
    padding-top: 70px;
}

.portfolio .img {
    background-color: white;
    width: 25%;
    height: 300px;
    float: left;
    padding: 10px;
    margin: 60px 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px dimgray;
}

.portfolio #center-img {
    margin-left: 140px;
}

.work-inquiry {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 80px;
}

.mid-left {
    position: absolute;
    top: 35px;
    left: 200px;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}

.mid-left p {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.mid-right {
    position: absolute;
    bottom: 40px;
    right: 200px;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}

.skill-heading h2 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: gray;
    margin-top: 200px;
}

.skill-color {
    float: left;
    margin-left: 250px;
    padding: 30px;
    font-size: x-large;
    color: green;
}

.stay-connected {
    text-align: center;
    margin-top: 80px;
}

.stay-connected h6 {
    font-size: 20px;
    font-weight: 500;
    color: dimgray;
}

.stay-connected p {
    font-size: 40px;
    font-weight: 700;
}

.social-media {
    text-align: center;
}

footer {
    text-align: center;
    font-size: 12px;
}